body {
display: flex;
 justify-content: space-between;
max-width: 100%;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}
#root{
max-height: 100%;
}
.recipe-detail-container {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background-color: #f1dfd1;
}

h1 {
 font-family:'Times New Roman', Times, serif;
 font-style: italic;
}
.recipe-card {
  max-width: 700px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-card-img-top {
  width: 70%;
  height: auto;
  margin: 20px auto;
  display: block;
  border-radius: 12px 12px 0 0;
}

.recipe-card-body {
  padding: 20px;
}

.recipe-card-title {
  font-size: 24px;
  margin: 10px 0;
}

.recipe-card-subtitle {
  font-size: 18px;
  margin: 10px 0;
}

.recipe-card-list {
  list-style-type: square;
  padding-left: 0;
  margin: 10px 0;
}

.recipe-card-list-item {
  font-size: 16px;
  margin: 5px 0;
}

.recipe-card-text {
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
  max-height: 800px;
  overflow: auto;
  padding: 10px;
}
