
.new-recipe {
    max-width:1000px;
    margin: auto;
    padding:10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .new-recipe h2 {
    text-align: center;
    color: #333;
  }
  
  .new-recipe label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .new-recipe input[type="text"],
  .new-recipe input[type="number"],
  .new-recipe select,
  .new-recipe textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .new-recipe input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .new-recipe input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Responsive styles (adjust as needed) */
  @media (max-width: 768px) {
    .new-recipe {
      width: 90%;
    }
  }
 
  
  .new-recipe form {
    display: flex;
    flex-direction: column; /* Make sure it's set to 'column' */
    width:90%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .new-recipe input,
  .new-recipe textarea,
  .new-recipe select {
    display: block; 
    width: 90%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }