.container {
    background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    display: block;
    align-items: center;
    min-width: 100%;
  }
  
   
   .recipes{
     display:flex;
     padding: 40px; 
    justify-content:space-around;
    margin-top: 20px;
    flex-wrap: wrap;
   
   }
   
    .card img {
     display:block;
     align-items: center;
     width: 150px;
     height: 150px;
     border-radius: 50%;
   }
   
  
   
   
   
   .card {
     width: 200px;
      border: #555 1px solid;
      border-radius: 5px;
      padding: 5px;
      margin: 10px;
      padding-bottom: 10px;
      background-color: white;
      box-shadow:  4px 8px rgba(0, 0, 0, 0.2);
     
   
   }
   h3 {
     color: lightcoral;
   
   }
   .card-image{
     display: block;
     width: 100%;
     margin: auto;
   }
   .card-body{
     padding:10px;
     text-align: center;
   }
   .category {
     color:lightcoral;
   }
   
   
    .navbar-brand span{
     font-family:"Tangerine", serif;
     font-size: 75px;
     text-align: center;
    
   }
   
   .navbar-brand img{
    border-radius: 50%;
    display: block;
    margin: auto;
  
   }
  
   
   form {
     margin-top: 20px;
     display: flex;
     justify-content: center;
     width: 30%;
   }
   
   input {
     border: 1px solid gray;
     font-size: 16px;
   
   }
   
   .form-control {
     border-radius: 10px;
     /* border-top-left-radius: 10px;
     border-bottom-left-radius: 10px; */
     width: 300px;
   }
   
   .btn {
    border-radius: 10px;
     cursor: pointer;
     border: #555;
    
   
   }
   
  
  .carousel img{
   margin-left: auto;
   margin-right: auto;
   width: 400px;
    
   }